PORT=4000
AUTH_SERVICE_URL=http://localhost:4001
USER_SERVICE_URL=http://localhost:4003
JOB_SERVICE_URL=http://localhost:4002
APPLICATION_SERVICE_URL=http://localhost:4004
CORS_ORIGIN=http://localhost:5173
